body {
    background: url(bg.jpg) no-repeat center center;
    background-size: cover;
    color:white;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    margin-bottom: 50px;
    text-shadow: 0 2px 2px black;
    text-align: center;
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}
.item {
    text-align: center;
    &-value {
        font-size: 45px;
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding:0 25px;
        text-shadow: 0 2px 2px black;
    }
    &-name {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: fade-out($color: #000000, $amount: 0.5);
    }
}